# 라이브러리

In [1]:
import pandas as pd
from pandas import DataFrame
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sm
#from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings("ignore")
import random

#from ggplot import *
#from scipy.stats import logistic
#from sklearn.metrics import roc_curve
#from sklearn.metrics import roc_auc_score
#from sklearn.linear_model import LogisticRegression
#from sklearn.metrics import confusion_matrix, mean_squared_error
from sklearn.model_selection import train_test_split
#from sklearn import preprocessing
#from sklearn.neighbors import KNeighborsClassifier
#from sklearn.naive_bayes import *
#from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor, export_graphviz
#import graphviz
#from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
#from sklearn.svm import SVC, SVR
from matplotlib.ticker import FuncFormatter
import scipy.stats as stats
from statsmodels.formula.api import ols
import statsmodels.api as sm


# 한글 폰트 실행
from matplotlib import rcParams
from matplotlib import font_manager,rc
rcParams['axes.unicode_minus']=False
plt.rcParams['font.family']='NanumGothic'
font_name=font_manager.FontProperties(fname='c:/Windows/Fonts/malgun.ttf').get_name()
rc('font',family=font_name)

# 데이터불러오기

In [2]:
import pandas as pd
DATA_PATH = './dataset/CARD/'
DATA_PATH_2 = './dataset/CUSTOMER/'
DATA_PATH_3 = './dataset/CC/'
#cc_21_40_raw = pd.read_csv(DATA_PATH_3 + 'cc_21_40(raw).csv', encoding="utf-8-sig")
#cc_21_50_raw = pd.read_csv(DATA_PATH_3 + 'cc_21_50(raw).csv', encoding="utf-8-sig")
#cc_21_60_raw = pd.read_csv(DATA_PATH_3 + 'cc_21_60(raw).csv', encoding="utf-8-sig")
#cc_22_40_raw = pd.read_csv(DATA_PATH_3 + 'cc_22_40(raw).csv', encoding="utf-8-sig")
#cc_22_50_raw = pd.read_csv(DATA_PATH_3 + 'cc_22_50(raw).csv', encoding="utf-8-sig")
#cc_22_60_raw = pd.read_csv(DATA_PATH_3 + 'cc_22_60(raw).csv', encoding="utf-8-sig")
#cc_23_40_raw = pd.read_csv(DATA_PATH_3 + 'cc_23_40(raw).csv', encoding="utf-8-sig")
#cc_23_50_raw = pd.read_csv(DATA_PATH_3 + 'cc_23_50(raw).csv', encoding="utf-8-sig")
#cc_23_60_raw = pd.read_csv(DATA_PATH_3 + 'cc_23_60(raw).csv', encoding="utf-8-sig")
#cc_22_40 = pd.read_csv(DATA_PATH_3 + 'cc_22_40.csv', encoding="utf-8-sig")
#cc_22_50 = pd.read_csv(DATA_PATH_3 + 'cc_22_50.csv', encoding="utf-8-sig")
#cc_22_60 = pd.read_csv(DATA_PATH_3 + 'cc_22_60.csv', encoding="utf-8-sig")

#cc_21_40_n = pd.read_csv(DATA_PATH_3 + 'cc_21_40_n.csv', encoding="utf-8-sig")
#cc_21_50_n = pd.read_csv(DATA_PATH_3 + 'cc_21_50_n.csv', encoding="utf-8-sig")
#cc_21_60_n = pd.read_csv(DATA_PATH_3 + 'cc_21_60_n.csv', encoding="utf-8-sig")

cc_22_40_n = pd.read_csv(DATA_PATH_3 + 'cc_22_40_n.csv', encoding="utf-8-sig")
cc_22_50_n = pd.read_csv(DATA_PATH_3 + 'cc_22_50_n.csv', encoding="utf-8-sig")
cc_22_60_n = pd.read_csv(DATA_PATH_3 + 'cc_22_60_n.csv', encoding="utf-8-sig")

#cc_23_40_n = pd.read_csv(DATA_PATH_3 + 'cc_23_40_n.csv', encoding="utf-8-sig")
#cc_23_50_n = pd.read_csv(DATA_PATH_3 + 'cc_21_50_n.csv', encoding="utf-8-sig")
#cc_23_60_n = pd.read_csv(DATA_PATH_3 + 'cc_21_60_n.csv', encoding="utf-8-sig")

cc_22_n = pd.read_csv(DATA_PATH_3 + 'cc_22_n.csv', encoding="utf-8-sig")

In [45]:
cc_22_40 = pd.read_csv(DATA_PATH_3 + 'cc_22_40.csv', encoding="utf-8-sig")
cc_22_50 = pd.read_csv(DATA_PATH_3 + 'cc_22_50.csv', encoding="utf-8-sig")
cc_22_60 = pd.read_csv(DATA_PATH_3 + 'cc_22_60.csv', encoding="utf-8-sig")

# 함수

In [3]:
import time

def execution_time(func):
    """
    함수의 실행 시간을 측정하여, 시:분:초 형식으로 출력하는 데코레이터 함수입니다.

    Parameters:
    func (function): 실행 시간을 측정할 함수.

    Returns:
    function: 실행 시간을 측정하고 출력한 후, 원래 함수의 결과를 반환하는 래퍼 함수.

    Example:
    >>> @execution_time
    >>> def example_function():
    >>>     time.sleep(2)

    >>> example_function()
    Execution time for example_function: 0h 0m 2.00s
    """
    def wrapper(*args, **kwargs):
        start_time = time.time()
        result = func(*args, **kwargs)
        end_time = time.time()
        elapsed_time = end_time - start_time
        hours, rem = divmod(elapsed_time, 3600)
        minutes, seconds = divmod(rem, 60)
        print(f"Execution time for {func.__name__}: {int(hours)}h {int(minutes)}m {seconds:.2f}s")
        return result
    return wrapper



import pandas as pd 
import numpy as np

def reduce_mem_usage(df, float16_as32=True):
    """
    데이터프레임의 메모리 사용량을 줄이기 위해 열의 데이터 타입을 최적화하는 함수입니다.
    
    수치형 열에 대해서만 메모리 최적화를 수행하며, 정수형은 int8, int16, int32, int64 등의 가장 작은 가능한 타입으로,
    실수형은 float16, float32, float64로 변환합니다. 기본적으로 float16 대신 float32를 사용할 수 있습니다.

    Parameters:
    df (pd.DataFrame): 메모리 최적화를 적용할 데이터프레임.
    float16_as32 (bool, optional): True일 경우, float16 대신 float32를 사용하여 정밀도를 보장합니다.
                                   기본값은 True입니다.

    Returns:
    pd.DataFrame: 메모리 최적화가 적용된 데이터프레임.

    Example:
    >>> df = pd.DataFrame({'col1': range(100), 'col2': np.random.rand(100)})
    >>> df_optimized = reduce_mem_usage(df)

    출력 예:
    데이터프레임의 초기 메모리 사용량은 0.01 MB입니다.
    최적화 후 데이터프레임의 메모리 사용량은: 0.00 MB입니다.
    메모리 사용량이 90.0% 감소했습니다.
    """
    start_mem = df.memory_usage().sum() / 1024**2
    print('데이터프레임의 초기 메모리 사용량은 {:.2f} MB입니다.'.format(start_mem))

    for col in df.columns:  # 각 열의 이름을 반복합니다.
        col_type = df[col].dtype  # 열의 데이터 타입을 가져옵니다.
        if col_type != object and str(col_type) != 'category':  # 객체 타입이 아닌 수치형 변수만 처리합니다.
            c_min, c_max = df[col].min(), df[col].max()  # 해당 열의 최소값과 최대값을 계산합니다.
            if str(col_type)[:3] == 'int':  # 정수형 변수일 경우 (int8, int16, int32, int64 모두 포함)
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)
            else:  # 실수형일 경우
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    if float16_as32:  # 더 높은 정밀도가 필요하면 float32를 선택할 수 있습니다.
                        df[col] = df[col].astype(np.float32)
                    else:
                        df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)
    end_mem = df.memory_usage().sum() / 1024**2
    print('최적화 후 데이터프레임의 메모리 사용량은: {:.2f} MB입니다.'.format(end_mem))
    print('메모리 사용량이 {:.1f}% 감소했습니다.'.format(100 * (start_mem - end_mem) / start_mem))

    return df


@execution_time
def clean_df(data):
    """
    데이터 전처리를 수행하고, 메모리 사용량을 줄이기 위한 최적화를 수행하는 함수입니다.

    이 함수는 '고객ID' 열을 문자열 형식으로 변환하고, `reduce_mem_usage` 함수를 호출하여
    데이터프레임의 메모리 사용량을 최적화합니다. 또한, 최적화된 데이터프레임의 정보를 출력합니다.

    Parameters:
    data (pd.DataFrame): 전처리와 메모리 최적화를 적용할 데이터프레임.

    Returns:
    pd.DataFrame: 전처리 및 메모리 최적화가 완료된 데이터프레임.

    Decorators:
    @execution_time: 함수의 실행 시간을 측정하고 출력하는 데코레이터.

    Example:
    >>> df = pd.DataFrame({'고객ID': [12345, 67890], 'value': [100, 200]})
    >>> cleaned_df = clean_df(df)

    출력 예:
    Execution time for clean_df: 0h 0m 0.12s
    데이터프레임의 초기 메모리 사용량은 0.01 MB입니다.
    최적화 후 데이터프레임의 메모리 사용량은: 0.00 MB입니다.
    메모리 사용량이 50.0% 감소했습니다.
    <class 'pandas.core.frame.DataFrame'>
    RangeIndex: 2 entries, 0 to 1
    Data columns (total 2 columns):
     #   Column  Non-Null Count  Dtype
    ---  ------  --------------  -----
     0   고객ID   2 non-null      object
     1   value   2 non-null      int8
    dtypes: int8(1), object(1)
    memory usage: 80.0+ bytes
    """
    data['고객ID'] = data['고객ID'].astype(str)
    data = reduce_mem_usage(data)
    print(data.info())
    return data



# 고객 연령대 추출
def customer_generation(df, feature):
    """
    특정 연령대의 데이터를 추출하여 반환하는 함수입니다.

    이 함수는 데이터프레임에서 입력된 특정 연령대에 해당하는 행만을 필터링하여 
    새로운 데이터프레임으로 반환합니다.

    Parameters:
    df (pd.DataFrame): 연령대가 포함된 원본 데이터프레임.
    feature (str): 추출하고자 하는 연령대를 나타내는 문자열. 예: "40대", "50대" 등.

    Returns:
    pd.DataFrame: 입력된 연령대만 포함된 필터링된 데이터프레임.

    Example:
    >>> data = pd.DataFrame({
    ...     '고객ID': [1, 2, 3],
    ...     '연령대': ['40대', '50대', '40대'],
    ...     '소비금액': [10000, 20000, 15000]
    ... })
    >>> customer_generation(data, '40대')
    40대만 추출한 데이터프레임입니다.
       고객ID  연령대     소비금액
    0      1  40대  10000
    2      3  40대  15000
    """
    df = df[df['연령대'].isin([f'{feature}'])]
    print(f'{feature}만 추출한 데이터프레임입니다.')
    print(df.head())
    return df



# 고객연령대 나눈 데이터프레임에서, ID 중복없이 추출
def customer_generation_id(df):
    """
    고객 ID의 중복을 제거하여 고유한 고객 ID 리스트를 생성하고 반환하는 함수입니다.

    이 함수는 입력된 데이터프레임에서 '고객ID'와 '연령대' 열만 선택하여,
    '고객ID'의 고유한 값들로 구성된 새로운 데이터프레임을 반환합니다. 
    반환된 데이터프레임은 중복되지 않은 고객 ID만을 포함합니다.

    Parameters:
    df (pd.DataFrame): '고객ID'와 '연령대' 열을 포함한 원본 데이터프레임.

    Returns:
    pd.DataFrame: 고유한 고객 ID를 포함한 데이터프레임.

    Example:
    >>> data = pd.DataFrame({
    ...     '고객ID': [1, 2, 1, 3],
    ...     '연령대': ['40대', '50대', '40대', '60대']
    ... })
    >>> customer_generation_id(data)
       고객ID
    0     1
    1     2
    2     3
    """
    selected_df = df.loc[:, ['고객ID', '연령대']]
    df_edit = pd.DataFrame(selected_df['고객ID'].unique(), columns=['고객ID'])
    print(df_edit.head())
    return df_edit



# 고객 연령대 나누고, 바로 id를 DataFrame으로 추출
def customer_gen_id(df, feature=None, show_age=False):
    """
    특정 연령대의 고유한 고객 ID를 추출하는 함수입니다.
    
    이 함수는 입력된 데이터프레임에서 특정 연령대(`feature`)에 해당하는 고객들을 필터링하여,
    중복되지 않은 고객 ID를 반환합니다. `show_age` 매개변수를 통해 고객 ID만 반환할지,
    또는 고객 ID와 연령대를 함께 반환할지를 선택할 수 있습니다.

    Parameters:
    df (pd.DataFrame): '고객ID'와 '연령대' 열을 포함한 원본 데이터프레임.
    feature (str, optional): 필터링하고자 하는 연령대 (예: "40대", "50대").
                            None일 경우 모든 연령대가 선택됩니다.
    show_age (bool, optional): True일 경우 고객 ID와 연령대를 포함하여 반환하며,
                               False일 경우 고객 ID만 반환합니다. 기본값은 False입니다.

    Returns:
    pd.DataFrame: 고유한 고객 ID를 포함한 데이터프레임. `show_age`가 True일 경우,
                 고객 ID와 연령대를 포함합니다.

    Example:
    >>> data = pd.DataFrame({
    ...     '고객ID': [1, 2, 1, 3, 2],
    ...     '연령대': ['40대', '50대', '40대', '60대', '50대']
    ... })
    >>> customer_gen_id(data, feature="50대", show_age=True)
       고객ID  연령대
    0     2  50대
    >>> customer_gen_id(data, feature="40대", show_age=False)
       고객ID
    0     1
    """
    df_filtered = df[df['연령대'].isin([f'{feature}'])]
    selected_df = df_filtered.loc[:, ['고객ID', '연령대']]
    
    if show_age:  # show_age가 True일 때 고객ID와 연령대 포함
        df_edit = selected_df.drop_duplicates(subset=['고객ID', '연령대'])
    else:  # show_age가 False일 때 고객ID만 포함
        df_edit = pd.DataFrame(selected_df['고객ID'].unique(), columns=['고객ID'])
    
    print(df_edit.head())
    return df_edit

# 재분류
def rename_category_store(df):
    """
    가맹점 업종명을 지정된 카테고리로 재분류하는 함수입니다.

    이 함수는 입력된 데이터프레임의 '가맹점업종명' 열에 대해 특정 값들을 지정된 카테고리 이름으로
    대체하여 재분류합니다. 이를 통해 다양한 업종명이 지정된 범주의 카테고리로 통합됩니다.

    Parameters:
    df (pd.DataFrame): '가맹점업종명' 열을 포함한 데이터프레임.

    Returns:
    pd.DataFrame: '가맹점업종명' 열이 재분류된 데이터프레임.

    Example:
    >>> data = pd.DataFrame({
    ...     '가맹점업종명': ['보습학원', '피부미용실', '골프경기장', '주점', '약 국'],
    ...     '승인금액': [10000, 20000, 30000, 40000, 50000]
    ... })
    >>> rename_category_store(data)
    가맹점업종명 열을 다음과 같은 카테고리로 재분류합니다: ['교육/학원', '미용', '스포츠/레저', '외식', '의료/보험']
    
    """
    mapping = {
        '교육/학원': ['보습학원', '예·체능계학원', '외국어학원', '기타 교육기관', '기능학원', '학원', '학습지교육', '초중고교육기관'],
        '미용': ['미용원', '피부미용실'],
        '스포츠/레저': ['기타레져업소', '스포츠·레져용품', '스포츠의류', '스크린골프', '헬스클럽', '골프경기장', '종합레져타운', '골프용품 전문점', '골프연습장', '안마/스포츠마사지', '레져업소', '수 영 장'],
        '여행/교통': ['기타숙박업', '철도', '특급호텔', '1급 호텔', '렌터카', '항공사', '콘도', '2급 호텔', '관광여행', '여객선', '고속버스', '택시'],
        '외식': ['일반한식', '주점', '서양음식', '중국식', '일식·회집', '한정식', '칵테일바', '갈비전문점'],
        '대형마트': ['슈퍼마켓', '농협하나로클럽', '농,축협직영매장', '대형할인점'],
        '백화점': ['면 세 점', '자사카드발행백화점'],
        '편의점': ['편 의 점'],
        '음식료품': ['정육점', '스넥', '농·축·수산품', '농축수산가공품', '주류판매점', '홍삼제품', '인삼제품', '기타건강식품'],
        '카페/베이커리': ['기타음료식품', '제과점'],
        '의료/보험': ['약 국', '의 원', '한 의 원', '치과의원', '기타의료기관 및 기타의료기기', '한약방', '한방병원', '생명보험', '건강진단', '기타보험', '병 원(응급실운영)', '치과병원', '동물병원', '종합병원', '손해보험'],
        '주유': ['SK주유소', '쌍용S-OIL', 'GS주유소', '주유소', 'SK가스충전소', '현대정유(오일뱅크)', 'GS가스충전소', '쌍용S-OIL가스충전소', '현대정유가스충전소', 'E1가스충전소', '전기차충전소'],
        '문화생활': ['문화취미기타', '영화관', '티켓'],
        '이동통신요금': ['이동통신요금'],
        '반려동물': ['애완동물'],
        '간편결제': ['인터넷P/G'],
        '기타': ['전자상거래상품권전문판매', '캐주얼의류', 'CATV', '택시회사', '위성방송', '음반영상물', '제 화','주방용구', '연 쇄 점', '액세서리', '전문서적', '주차장', '민예·공예품', '건축용 요업제품', '단란주점', '옷감·직물', '자동차시트·타이어', '독서실', '농기계', '조명기구', '세차장', '사무서비스', '컴퓨터', '가 방', '보일러·펌프·샷시', '카페트,커튼,천막,지물', '자동차부품', '자동차정비', '기타유통업', '이륜차판매', '카인테리어', '화물운송', '내의판매', '목재·석재·철물', '기타 사무용품', '기타가구', '신 발', '비영리/비대상', '기타대인서비스', '기타전기제품', 'DP&E', '주방용식기', '가타자동차서비스', '기타농업관련', '구내매점(국가기관등)', '아동의류', '이용원', '조세서비스', '기념품점', '유흥주점', '통신기기', '화원', '화장품', '기타잡화', '유아원', 'LPG취급점', '페인트', '출판 및 인쇄물', '귀금속', '문구용품', '위탁급식업', '비료,사료,종자', '침구·수예점', '당구장', '가전제품', '인터넷Mall', '가정용품수리', '사무·통신기기수리', '안경', '세탁소', '사우나', '일반서적', '노 래 방', '기계공구',  '완구점', '기타의류', '미곡상', '기타용역서비스', '기타수리서비스', '기타건축자재', '일반가구', '사무용 OA기기', '인테리어전문', '가례서비스업', '시 계', '비영리/대상', '윤활유전문판매', '정수기', '공공요금대행서비스/소득공제비대상', '화방·표구점', '볼 링 장', '인터넷종합Mall', '기타 전문점', '통신판매업1', '종합용역', '전자상거래상품권', '보관및 창고업', '유류판매', '업종미등록', '통신서비스/소득공제비대상', '기타서적문구', '수족관', '공공요금대행서비스/소득공제대상', '상품권전문판매', '혼례서비스업', '냉열기기', '비씨카드 정산용(할인)', '일반(통신판매)', '기타4', '기타1', '부동산중개·임대', 'CATV홈쇼핑', '소프트웨어', '의료용품', '정장', '맞춤복점', '단체복', '상 품 권', 'PG상품권', '비씨카드 정산용가맹점',  '미용재료']
    }
    for category, values in mapping.items():
        df['가맹점업종명'] = df['가맹점업종명'].replace(values, category)
    print(df['가맹점업종명'].unique())
    return df

def rename_category_store_5(df):
    """
    가맹점 업종명을 미리 정의된 카테고리로 분류하여 새로운 '분류' 컬럼에 추가하는 함수입니다.

    이 함수는 입력된 데이터프레임의 '가맹점업종명' 열의 값들을 사전 정의된 카테고리로 매핑하여,
    각 가맹점이 해당하는 카테고리 정보를 새로운 '분류' 컬럼에 추가합니다. 이를 통해 다양한 업종을
    지정된 범주의 카테고리로 분류하여 분석할 수 있습니다.

    Parameters:
    df (pd.DataFrame): '가맹점업종명' 열을 포함한 데이터프레임.

    Returns:
    pd.DataFrame: '분류' 열이 추가된 데이터프레임.

    Example:
    >>> data = pd.DataFrame({
    ...     '가맹점업종명': ['백화점', '피부미용실', '골프경기장', '주점', '약국'],
    ...     '승인금액': [10000, 20000, 30000, 40000, 50000]
    ... })
    >>> rename_category_store_5(data)
    가맹점업종명 열을 다음과 같은 카테고리로 재분류합니다: ['쇼핑', '기타', '여가', '기타', '식음료']
    
    Categories:
      - 생활비: ['이동통신요금', '의료/보험', '교육/학원', '반려동물', '주유', '미용']
      - 식음료: ['외식', '카페/베이커리', '음식료품']
      - 쇼핑: ['백화점', '홈쇼핑', '온라인쇼핑', '간편결제', '편의점', '대형마트']
      - 여가: ['스포츠/레저', '여행/교통', '문화생활']
      - 기타: ['기타']
    
    """
    
    mapping = {
       '생활비' : ['이동통신요금', '의료/보험' , '교육/학원', '반려동물', '주유', '미용'],
        '식음료' : ['외식', '카페/베이커리', '음식료품'],
        '쇼핑' : ['백화점', '홈쇼핑', '온라인쇼핑', '간편결제', '편의점', '대형마트'],
        '여가' : ['스포츠/레저', '여행/교통', '문화생활'],
        '기타' : ['기타']
    }
 
    df['분류'] = df['가맹점업종명']
    for category, values in mapping.items():
        df.loc[df['가맹점업종명'].isin(values), '분류'] = category

    print(df['분류'].unique())
    return df


def rename_category_region(df):
    """
    가맹점 위치의 광역시도를 지정된 지역권으로 재분류하는 함수입니다.

    이 함수는 데이터프레임의 '가맹점_광역시도' 열에 대해 지역별 분류를 수행하여,
    수도권, 영남권, 충청권, 호남권, 강원·제주권으로 대체합니다.

    Parameters:
    df (pd.DataFrame): '가맹점_광역시도' 열을 포함한 데이터프레임.

    Returns:
    pd.DataFrame: '가맹점_광역시도' 열이 지역권으로 재분류된 데이터프레임.

    Example:
    >>> data = pd.DataFrame({
    ...     '가맹점_광역시도': ['서울특별시', '부산광역시', '제주특별자치도', '경기도', '대전광역시'],
    ...     '승인금액': [10000, 20000, 15000, 5000, 3000]
    ... })
    >>> rename_category_region(data)
    '가맹점_광역시도' 열을 다음과 같이 재분류합니다: 수도권, 영남권, 강원·제주권, 충청권 등.
    """
    region_groups = {
        '서울특별시': '수도권', '경기도': '수도권', '인천광역시': '수도권',
        '부산광역시': '영남권', '울산광역시': '영남권', '경상남도': '영남권',
        '충청북도': '충청권', '충청남도': '충청권', '대전광역시': '충청권', '세종특별자치시': '충청권',
        '전북특별자치도': '호남권', '전라남도': '호남권', '광주광역시': '호남권',
        '강원특별자치도': '강원·제주권', '제주특별자치도': '강원·제주권'
    }

    df['가맹점_광역시도'] = df['가맹점_광역시도'].replace(region_groups)
    df['가맹점_광역시도'].value_counts()
    return df

def join(df1, df2, key, way):
    """
    두 데이터프레임을 지정된 키와 조인 방식에 따라 병합하는 함수입니다.

    이 함수는 `pd.merge`를 사용하여 두 데이터프레임을 특정 열(`key`)을 기준으로 
    주어진 조인 방식(`way`)에 따라 병합합니다. 병합 결과는 데이터프레임 형식으로 반환됩니다.

    Parameters:
    df1 (pd.DataFrame): 첫 번째 데이터프레임.
    df2 (pd.DataFrame): 두 번째 데이터프레임.
    key (str): 조인할 때 사용할 공통 열의 이름.
    way (str): 조인 방식 (예: 'inner', 'left', 'right', 'outer').

    Returns:
    pd.DataFrame: 지정된 키와 방식으로 병합된 데이터프레임.

    Example:
    >>> df1 = pd.DataFrame({'ID': [1, 2, 3], 'Value1': ['A', 'B', 'C']})
    >>> df2 = pd.DataFrame({'ID': [2, 3, 4], 'Value2': ['X', 'Y', 'Z']})
    >>> join(df1, df2, key='ID', way='inner')
    <class 'pandas.core.frame.DataFrame'>
       ID Value1 Value2
    0   2      B      X
    1   3      C      Y
    """
    df_joined = pd.merge(df1, df2, on=f'{key}', how=f'{way}')
    print(type(df_joined))
    print(df_joined.head(3))
    return df_joined

def slicing(df, generation=None, feature=None):  
    """
    특정 연령대와 선택한 컬럼들로 필터링된 데이터프레임을 반환하는 함수입니다.

    이 함수는 지정된 연령대(`generation`)와 특정 컬럼들(`feature`)을 기반으로 데이터프레임을 필터링합니다. 
    `generation`과 `feature`가 단일 값일 경우, 리스트로 변환하여 다중 값으로 처리할 수 있습니다.

    Parameters:
    df (pd.DataFrame): 필터링할 데이터프레임.
    generation (str or list of str, optional): 필터링할 연령대(예: "40대"). 하나 이상의 연령대를 리스트로 전달할 수 있습니다.
    feature (str or list of str, optional): 필터링할 컬럼명(예: '고객ID'). 하나 이상의 컬럼명을 리스트로 전달할 수 있습니다.

    Returns:
    pd.DataFrame: 지정된 연령대와 선택한 컬럼들만 포함하는 필터링된 데이터프레임.

    Example:
    >>> data = pd.DataFrame({
    ...     '고객ID': [1, 2, 3, 4],
    ...     '연령대': ['40대', '50대', '40대', '60대'],
    ...     '지출액': [10000, 20000, 15000, 5000]
    ... })
    >>> slicing(data, generation="40대", feature="고객ID")
    <class 'pandas.core.frame.DataFrame'>
       고객ID   연령대
    0      1  40대
    2      3  40대
    """
    # generation과 feature가 단일 값일 경우 리스트로 변환
    if isinstance(generation, str):  
        generation = [generation]
    if isinstance(feature, str):  
        feature = [feature]
        
    df_filtered = df[df['연령대'].isin(generation)]
    sliced_df = df_filtered.loc[:, feature + ['연령대']]  # feature 리스트와 '연령대' 추가

    print(type(sliced_df))
    print(sliced_df.head())
    return sliced_df


# 시각화

def amount_generation(df, year, generation=None, top=None, bottom=None, columns=None):
    """
    연도와 세대별로 업종별 승인금액 합계를 시각화하는 함수입니다.

    이 함수는 데이터프레임에서 업종별 승인금액 합계를 계산하여 바 차트로 시각화합니다. 
    특정 상위 또는 하위 업종을 선택하거나, 특정 업종 목록에 따라 필터링할 수 있습니다.

    Parameters:
    df (pd.DataFrame): '가맹점업종명'과 '승인금액' 열이 포함된 데이터프레임.
    year (int): 시각화할 연도.
    generation (str, optional): 특정 세대를 나타내는 문자열로, 제목에 포함됩니다. 기본값은 None입니다.
    top (int, optional): 승인금액 합계 상위 몇 개의 업종을 표시할지 결정합니다. 기본값은 None입니다.
    bottom (int, optional): 승인금액 합계 하위 몇 개의 업종을 표시할지 결정합니다. `top`과 함께 사용할 수 없습니다. 기본값은 None입니다.
    columns (list of str, optional): 필터링할 업종명 리스트. 이 값이 주어지면 해당 업종들만 시각화에 포함됩니다. 기본값은 None입니다.

    Returns:
    None: 함수는 차트를 출력하며, 데이터프레임을 반환하지 않습니다.

    Example:
    >>> data = pd.DataFrame({
    ...     '가맹점업종명': ['업종1', '업종2', '업종3', '업종4', '업종5'],
    ...     '승인금액': [100000000, 200000000, 150000000, 50000000, 30000000]
    ... })
    >>> amount_generation(data, year=2023, generation="40대", top=3)
    
    출력:
    - 2023년도 40대 업종별 승인금액 합계에 대한 바 차트가 출력됩니다.
    """
    fig, ax = plt.subplots(figsize=(10, 6))
    total_amounts = df.groupby('가맹점업종명')['승인금액'].sum().reset_index()
    total_amounts_sort = total_amounts.sort_values(by='승인금액', ascending=False)
    if top is not None:
        total_amounts_sort = total_amounts_sort.head(top)
    elif bottom is not None:
        total_amounts_sort = total_amounts_sort.tail(bottom)
    if columns is not None:
        total_amounts_sort = total_amounts_sort[total_amounts_sort['가맹점업종명'].isin(columns)]
    ax = sns.barplot(x='가맹점업종명', y='승인금액', data=total_amounts_sort, palette="viridis")
    ax.set_title(f"{year}년도 {generation} 업종별 승인금액 합계")
    ax.set_xlabel("업종")
    ax.set_ylabel("승인금액 합계")
    ax.set_xticklabels(ax.get_xticklabels(), rotation=45)
    for p in ax.patches:
        ax.text(
            p.get_x() + p.get_width() / 2,  # x 위치 (막대 중앙)
            p.get_height() + 0.5,           # y 위치 (막대 위)
            f'{p.get_height() / 1e7:.2f}억',  # 억 단위로 변환 후 소수점 2자리까지 표시
            ha='center',                    # 텍스트 가운데 정렬
            fontsize=8
        )
    ax.text(1, 1.02, "(단위: 억 원)", ha='right', va='center', transform=ax.transAxes, fontsize=10, color="black")
plt.show()


def barplot_counts(df, feature, year, generation):
    """
    지정된 컬럼의 카드 거래량을 시각화하는 함수입니다.

    이 함수는 데이터프레임에서 지정된 `feature` 컬럼의 값들을 세어 카드 거래량을 계산하고, 
    이를 백만 건 단위로 변환하여 막대 그래프로 시각화합니다.

    Parameters:
    df (pd.DataFrame): 시각화할 데이터프레임.
    feature (str): 거래량을 계산할 컬럼명.
    year (int): 시각화할 연도.
    generation (str): 특정 세대명으로, 그래프 제목에 표시됩니다.

    Returns:
    None: 함수는 차트를 출력하며, 데이터프레임을 반환하지 않습니다.

    Example:
    >>> data = pd.DataFrame({
    ...     '업종명': ['외식', '외식', '미용', '주유', '외식'],
    ... })
    >>> barplot_counts(data, feature='업종명', year=2023, generation="40대")

    출력:
    - 2023년도 40대 업종별 카드 거래량에 대한 바 차트가 백만 건 단위로 표시됩니다.
    """
    fig, ax = plt.subplots(figsize=(10, 6))
    card_counts = df[feature].value_counts()
    ax = sns.barplot(x=card_counts.index, y=card_counts.values / 1e6, palette="viridis")
    ax.set_title(f"{year}년도 {generation} 카드거래량")
    ax.set_xlabel(f"{feature}")
    ax.set_ylabel("거래량 (백만건)")
    ax.set_xticklabels(ax.get_xticklabels(), rotation=45)
    ax.text(1, 1.02, "(단위: 백만건)", ha='right', va='center', transform=plt.gca().transAxes, fontsize=10, color="black")
    
    for p in ax.patches:
        ax.text(
            p.get_x() + p.get_width() / 2,    # x 위치 (막대 중앙)
            p.get_height() + 0.1,             # y 위치를 더 높게 조정 (막대 위 약간 위로)
            f'{p.get_height():.2f}백만건',    # 백만 단위로 변환된 값 표시
            ha='center',                      # 텍스트 가로 정렬 (중앙 정렬)
            fontsize=8                       # 폰트 크기를 10으로 조정
        )

    ax.get_yaxis().get_major_formatter().set_scientific(False)
    plt.show()



def barplot_sum(df, feature1, feature2, year, generation):
    """
    지정된 컬럼을 기준으로 다른 컬럼의 합계를 시각화하는 함수입니다.

    이 함수는 데이터프레임에서 `feature1` 컬럼을 기준으로 `feature2` 컬럼의 합계를 계산하고,
    이를 조 단위로 변환하여 막대 그래프로 시각화합니다.

    Parameters:
    df (pd.DataFrame): 시각화할 데이터프레임.
    feature1 (str): 그룹화할 컬럼명 (예: 업종명).
    feature2 (str): 합계를 계산할 컬럼명 (예: 승인금액).
    year (int): 시각화할 연도.
    generation (str): 특정 세대명으로, 그래프 제목에 표시됩니다.

    Returns:
    None: 함수는 차트를 출력하며, 데이터프레임을 반환하지 않습니다.

    Example:
    >>> data = pd.DataFrame({
    ...     '업종명': ['외식', '외식', '미용', '주유', '외식'],
    ...     '승인금액': [1000000000000, 2000000000000, 1500000000000, 500000000000, 300000000000]
    ... })
    >>> barplot_sum(data, feature1='업종명', feature2='승인금액', year=2023, generation="40대")

    출력:
    - 2023년도 40대 업종별 승인금액 합계에 대한 바 차트가 조 단위로 표시됩니다.
    """
    fig, ax = plt.subplots(figsize=(10, 6))
    total_amounts = df.groupby([feature1])[feature2].sum().reset_index()
    total_amounts_sort = total_amounts.sort_values(by=feature2, ascending=False)
    ax = sns.barplot(x=f'{feature1}', y=f'{feature2}', data=total_amounts_sort, palette="viridis")
    ax.set_title(f"{year}년도 {generation} {feature1}별 {feature2} 합계")
    ax.set_xlabel(f"{feature1}")
    ax.set_ylabel(f"{feature2} 합계")
    ax.set_xticklabels(ax.get_xticklabels(), rotation=45)
    for p in ax.patches:
        ax.text(
            p.get_x() + p.get_width() / 2,  # x 위치 (막대 중앙)
            p.get_height() + 0.5,           # y 위치 (막대 위)
            f'{p.get_height() / 1e12:.2f}조',  # 조 단위로 변환 후 소수점 2자리까지 표시
            ha='center',                    # 텍스트 가운데 정렬
            fontsize=8
        )
    ax.text(1, 1.02, "(단위: 조 원)", ha='right', va='center', transform=ax.transAxes, fontsize=10, color="black")
    ax.get_yaxis().get_major_formatter().set_scientific(False)
plt.show()



def table_avg(df, feature1, feature2):
    """
    특정 컬럼을 기준으로 다른 컬럼의 총합과 평균을 계산하는 함수입니다.

    이 함수는 데이터프레임에서 `feature1` 컬럼을 기준으로 `feature2` 컬럼의 합계를 구하고, 
    해당 기준의 거래 건수를 기반으로 평균 승인금액을 계산하여 반환합니다.

    Parameters:
    df (pd.DataFrame): 집계를 수행할 데이터프레임.
    feature1 (str): 그룹화할 컬럼명 (예: 업종명).
    feature2 (str): 합계 및 평균을 계산할 대상 컬럼명 (예: 승인금액).

    Returns:
    pd.DataFrame: 그룹화된 `feature1` 컬럼별로 `feature2` 합계, 거래량(카드거래량), 평균 승인금액이 포함된 데이터프레임.

    Example:
    >>> data = pd.DataFrame({
    ...     '업종명': ['외식', '외식', '미용', '주유', '외식'],
    ...     '승인금액': [100000, 200000, 150000, 50000, 30000]
    ... })
    >>> table_avg(data, feature1='업종명', feature2='승인금액')
       업종명      승인금액  카드거래량   평균 승인금액
    0   외식  330000.0   3.0  110000
    """
    amounts = df.groupby([feature1])[feature2].sum().reset_index()
    counts = df[feature1].value_counts()
    amounts['카드거래량'] = amounts[feature1].map(counts).astype(float)  # 숫자형으로 변환
    amounts['평균 승인금액'] = amounts[feature2] / amounts['카드거래량']  # 평균 승인금액 계산
    return





def barplot_avg(df, feature1, feature2, year, generation):
    """
    특정 컬럼을 기준으로 다른 컬럼의 평균값을 시각화하는 함수입니다.

    이 함수는 데이터프레임에서 `feature1` 컬럼을 기준으로 `feature2` 컬럼의 평균 승인금액을 계산하고, 
    이를 막대 그래프로 시각화합니다. 평균 승인금액은 만 단위로 표시됩니다.

    Parameters:
    df (pd.DataFrame): 시각화할 데이터프레임.
    feature1 (str): 그룹화할 컬럼명 (예: 업종명).
    feature2 (str): 평균을 계산할 대상 컬럼명 (예: 승인금액).
    year (int): 시각화할 연도.
    generation (str): 특정 세대명으로, 그래프 제목에 표시됩니다.

    Returns:
    None: 함수는 차트를 출력하며, 데이터프레임을 반환하지 않습니다.

    Example:
    >>> data = pd.DataFrame({
    ...     '업종명': ['외식', '외식', '미용', '주유', '외식'],
    ...     '승인금액': [100000, 200000, 150000, 50000, 30000]
    ... })
    >>> barplot_avg(data, feature1='업종명', feature2='승인금액', year=2023, generation="40대")

    출력:
    - 2023년도 40대 업종별 평균 승인금액에 대한 바 차트가 만 단위로 표시됩니다.
    """
    amounts = df.groupby([feature1])[feature2].sum().reset_index()
    counts = df[feature1].value_counts()
    amounts['카드거래량'] = amounts[feature1].map(counts).astype(float)  # 숫자형으로 변환
    amounts['평균 승인금액'] = amounts[feature2] / amounts['카드거래량']  # 평균 승인금액 계산
    amounts_sort = amounts.sort_values(by='평균 승인금액', ascending=False)
    amounts_sort['평균 승인금액_만단위'] = amounts_sort['평균 승인금액']

    fig, ax = plt.subplots(figsize=(10, 6))
    ax = sns.barplot(x=f'{feature1}', y='평균 승인금액', data=amounts_sort, palette="viridis")
    ax.set_title(f"{year}년도 {generation} {feature1}별 평균{feature2}")
    ax.set_xlabel(f"{feature1}")
    ax.set_ylabel("평균 승인금액 (단위: 만 원)")
    ax.set_xticklabels(ax.get_xticklabels(), rotation=45)
    ticks = ax.get_yticks()  # 현재 Y축 눈금 가져오기
    ax.set_yticklabels([int(tick / 10000) for tick in ticks])  # 만 단위로 변환하여 설정
    
    for p in ax.patches:
        ax.text(
            p.get_x() + p.get_width() / 2,  # x 위치 (막대 중앙)
            p.get_height() + 0.5,           # y 위치 (막대 위)
            f'{p.get_height() / 10000:.2f}만원',  # 만 단위로 표시
                ha='center',                    # 텍스트 가운데 정렬
                fontsize=6
            )
    
        ax.text(1, 1.02, "(단위: 만 원)", ha='right', va='center', transform=ax.transAxes, fontsize=10, color="black")
        
        plt.show()

# 데이터 확인

In [4]:
cc_22_40_n.head()

         고객ID    거래년월  가맹점업종명 가맹점_광역시도  가맹점_시군구  승인건수    승인금액   분류
0  9997364303  202212  이동통신요금    서울특별시       중구  5번이하   70000  생활비
1  9997364303  202212      외식     경상북도      영천시  5번이하  120000  식음료
2  9997364303  202212   온라인쇼핑      경기도  성남시 분당구  5번이하   80000   쇼핑
3  9997364303  202212   의료/보험     경상북도      영천시  5번이하   10000  생활비
4  9997364303  202212      외식     경상북도      영천시  5번이하   30000  식음료

In [5]:
cc_22_50_n.head()

         고객ID    거래년월 가맹점업종명 가맹점_광역시도 가맹점_시군구  승인건수   승인금액   분류
0  9998496340  202212     외식    대구광역시     달성군  5번이하  10000  식음료
1  9998496340  202212     외식    대구광역시     달서구  5번이하  10000  식음료
2  9998496340  202212     외식    대구광역시     달성군  5번이하  10000  식음료
3  9998496340  202212     외식     경상북도     경산시  5번이하  40000  식음료
4  9998496340  202212   대형마트    대구광역시      중구  5번이하  10000   쇼핑

In [6]:
cc_22_60_n.head()

         고객ID    거래년월 가맹점업종명 가맹점_광역시도 가맹점_시군구         승인건수   승인금액  분류
0  9999998161  202207  여행/교통    대구광역시     수성구   5번초과 10번이하  50000  여가
1  9999998161  202207  여행/교통    대구광역시     수성구         5번이하  20000  여가
2  9999998161  202206  여행/교통    대구광역시     수성구   5번초과 10번이하  50000  여가
3  9999998161  202206  여행/교통    대구광역시     수성구         5번이하  10000  여가
4  9999998161  202205  여행/교통    대구광역시     수성구  10번초과 15번이하  80000  여가

In [9]:
cc_22_n.head()

         고객ID    거래년월  가맹점업종명    승인금액   분류  연령대
0  9997364303  202212  이동통신요금   70000  생활비  40대
1  9997364303  202212      외식  120000  식음료  40대
2  9997364303  202212   온라인쇼핑   80000   쇼핑  40대
3  9997364303  202212   의료/보험   10000  생활비  40대
4  9997364303  202212      외식   30000  식음료  40대

# 할 일
- 고객 ID 당 분류별 승인금액 합계를 구한 뒤,
- 분류별로 연령대별 데이터 비중을 구해 비중에 따라 데이터 랜덤 추출
- 랜덤으로 추출한 데이터들에 대해 연령별로 일원분산분석 실행
- 승인금액에 대해 난수 배정
- 데이터에 대해 스케일링 진행
- 카드 사용 데이터가 연간 1회인 경우, 따로 분리해두기
- robust scaling

# 난수 생성 예시 코드 확인

In [8]:
import numpy as np
import pandas as pd

# 예제 데이터 생성
np.random.seed(0)
df = pd.DataFrame({
    'Category': np.random.choice(['A', 'B', 'C', 'D', 'E'], size=100)
})

# 범주별 평균 설정
mean_dict = {
    'A': 10,
    'B': 20,
    'C': 30,
    'D': 40,
    'E': 50
}

# 각 범주별로 다른 평균과 정규 분포를 따르는 난수 생성
df['Random_Value'] = df['Category'].apply(lambda x: np.random.normal(loc=mean_dict[x], scale=5))

print(df.head())

  Category  Random_Value
0        E     48.178328
1        A      6.606113
2        D     38.231861
3        D     36.296263
4        D     36.624891

# 데이터 탐색 예시코드

In [47]:


# 1. 특정 '거래년월'과 '가맹점업종명'으로 필터링
# 202212년의 '외식' 업종 데이터를 조회
#filtered_df = df.loc[(df['거래년월'] == 202212) & (df['가맹점업종명'] == '외식')]
#print(filtered_df)

# 2. '승인금액'이 100000 이상인 데이터만 조회
#high_amount_df = df.loc[df['승인금액'] >= 100000]
#print(high_amount_df)

# 3. '분류'가 '생활비'인 데이터 중에서 '가맹점_광역시도'가 '서울특별시'인 데이터 조회
#seoul_life_expenses_df = df.loc[(df['분류'] == '생활비') & (df['가맹점_광역시도'] == '서울특별시')]
#print(seoul_life_expenses_df)

# 4. '승인건수'가 '5번이하'인 데이터 중 '승인금액'이 50000 이하인 데이터 조회
#low_count_low_amount_df = df.loc[(df['승인건수'] == '5번이하') & (df['승인금액'] <= 50000)]
#print(low_count_low_amount_df)

# 5. '고객ID'가 특정 값(예: 9997364303)인 데이터만 조회
#specific_customer_df = df.loc[df['고객ID'] == 9997364303]
#print(specific_customer_df)

# 6. 여러 열의 값을 동시에 확인하고 싶을 때 (예: '거래년월', '가맹점업종명', '승인금액'만 보기)
#selected_columns_df = df.loc[:, ['거래년월', '가맹점업종명', '승인금액']]
#print(selected_columns_df)

# 7. 특정 조건을 만족하는 행의 특정 열 값만 보고 싶을 때
# '가맹점업종명'이 '온라인쇼핑'인 데이터의 '승인금액'만 확인
#online_shopping_amounts = df.loc[df['가맹점업종명'] == '온라인쇼핑', '승인금액']
#print(online_shopping_amounts)

In [11]:
cc_22_60_n.head()

         고객ID    거래년월 가맹점업종명 가맹점_광역시도 가맹점_시군구         승인건수   승인금액  분류
0  9999998161  202207  여행/교통    대구광역시     수성구   5번초과 10번이하  50000  여가
1  9999998161  202207  여행/교통    대구광역시     수성구         5번이하  20000  여가
2  9999998161  202206  여행/교통    대구광역시     수성구   5번초과 10번이하  50000  여가
3  9999998161  202206  여행/교통    대구광역시     수성구         5번이하  10000  여가
4  9999998161  202205  여행/교통    대구광역시     수성구  10번초과 15번이하  80000  여가

# 데이터 탐색

## 강사님이 주신 예시코드
- card_df_2021[category_columns] = card_df_2021[category_columns].astype('object')
- card_df_2021.info()
- new_card_df_2021 = card_df_2021.groupby(['거래년월', '고객ID', '가맹점업종명', '가맹점_광역시도', '가맹점_시군구', '승인건수'])['승인금액'].agg(승인금액건수 = 'count', 승인금액합계 = 'sum').reset_index()
- card_df_2021.shape, new_card_df_2021.shape

In [16]:
category_columns = cc_22_n.select_dtypes(include='category').columns
cc_22_n[category_columns] = cc_22_n[category_columns].astype('object')

In [17]:
cc_22_n.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42429848 entries, 0 to 42429847
Data columns (total 6 columns):
 #   Column  Dtype
---  ------  -----
 0   고객ID    int64
 1   거래년월    int64
 2   가맹점업종명  object
 3   승인금액    int64
 4   분류      object
 5   연령대     object
dtypes: int64(3), object(3)
memory usage: 1.9+ GB

In [21]:
new_cc_22_60_n = cc_22_60_n.groupby(['거래년월', '고객ID', '가맹점업종명', '가맹점_광역시도', '가맹점_시군구', '승인건수'])['승인금액'].agg(승인금액건수 = 'count', 승인금액합계 = 'sum').reset_index()

In [32]:
new_cc_22_60_n[(new_cc_22_60_n['승인건수'] == "5번초과 10번이하") & (new_cc_22_60_n['승인금액건수'] == 2)]

,거래년월,고객ID,가맹점업종명,가맹점_광역시도,가맹점_시군구,승인건수,승인금액건수,승인금액합계
397,202201,2832838814,주유,경상남도,김해시,5번초과 10번이하,2,1010000
1338,202201,3028678279,대형마트,대구광역시,달서구,5번초과 10번이하,2,160000
1370,202201,3037103357,대형마트,대구광역시,동구,5번초과 10번이하,2,140000
2121,202201,3157419706,대형마트,경상북도,포항시 남구,5번초과 10번이하,2,220000
3231,202201,3284074502,대형마트,경상북도,고령군,5번초과 10번이하,2,170000
...,...,...,...,...,...,...,...,...
8940120,202212,9989171502,의료/보험,대구광역시,동구,5번초과 10번이하,2,860000
8940378,202212,9990092788,의료/보험,대구광역시,중구,5번초과 10번이하,2,140000
8940600,202212,9990809499,외식,대구광역시,서구,5번초과 10번이하,2,150000
8941282,202212,9992423820,대형마트,대구광역시,수성구,5번초과 10번이하,2,110000
8942236,202212,9995777267,대형마트,대구광역시,북구,5번초과 10번이하,2,510000

In [33]:
new_cc_22_60_n[(new_cc_22_60_n['승인건수'] == "5번초과 10번이하") & (new_cc_22_60_n['승인금액건수'] == 5)]

,거래년월,고객ID,가맹점업종명,가맹점_광역시도,가맹점_시군구,승인건수,승인금액건수,승인금액합계
230113,202201,7417521454,편의점,대구광역시,수성구,5번초과 10번이하,5,200000
1508740,202203,7174850902,외식,대구광역시,남구,5번초과 10번이하,5,240000
2815882,202205,5760714734,편의점,대구광역시,달서구,5번초과 10번이하,5,210000
4356888,202207,5760714734,편의점,대구광역시,달서구,5번초과 10번이하,5,190000
4963789,202207,9781183396,편의점,대구광역시,동구,5번초과 10번이하,5,100000
5431738,202208,8429479285,의료/보험,대구광역시,수성구,5번초과 10번이하,5,120000

In [34]:
new_cc_22_60_n[(new_cc_22_60_n['승인건수'] == "5번초과 10번이하") & (new_cc_22_60_n['승인금액건수'] == 6)]

Empty DataFrame
Columns: [거래년월, 고객ID, 가맹점업종명, 가맹점_광역시도, 가맹점_시군구, 승인건수, 승인금액건수, 승인금액합계]
Index: []

In [37]:
new_cc_22_60_n[(new_cc_22_60_n['승인건수'] == "5번이하") & (new_cc_22_60_n['승인금액건수'] == 5)]

           거래년월        고객ID 가맹점업종명 가맹점_광역시도 가맹점_시군구  승인건수  승인금액건수  승인금액합계
104      202201  2805756627   음식료품     경상북도     경산시  5번이하       5  670000
120      202201  2808255486     외식      경기도     화성시  5번이하       5  180000
172      202201  2814693852     외식    대구광역시      중구  5번이하       5  210000
191      202201  2815258807     외식     경상북도     성주군  5번이하       5  170000
365      202201  2832838814     기타    부산광역시     사상구  5번이하       5  420000
...         ...         ...    ...      ...     ...   ...     ...     ...
8942395  202212  9998648484     외식     경상북도     칠곡군  5번이하       5  180000
8942401  202212  9998665444   대형마트     경상북도     경산시  5번이하       5  140000
8942438  202212  9998708349    편의점     경상북도     경주시  5번이하       5  200000
8942626  202212  9999556499   대형마트     경상북도     청도군  5번이하       5  110000
8942641  202212  9999569060   대형마트    대구광역시      동구  5번이하       5  260000

[60870 rows x 8 columns]

In [38]:
new_cc_22_60_n[(new_cc_22_60_n['승인건수'] == "5번이하") & (new_cc_22_60_n['승인금액건수'] == 6)]

           거래년월        고객ID 가맹점업종명 가맹점_광역시도 가맹점_시군구  승인건수  승인금액건수  승인금액합계
46       202201  2800219904  의료/보험    인천광역시      서구  5번이하       6  180000
71       202201  2800789394    편의점    부산광역시     수영구  5번이하       6  180000
767      202201  2917879808     외식     경상북도     경주시  5번이하       6  790000
1036     202201  2967296303     외식     충청남도     보령시  5번이하       6  120000
2157     202201  3158297065   음식료품    부산광역시    해운대구  5번이하       6  230000
...         ...         ...    ...      ...     ...   ...     ...     ...
8941509  202212  9992675638   음식료품    대구광역시     달성군  5번이하       6  280000
8942013  202212  9994403800  의료/보험    대구광역시      남구  5번이하       6  250000
8942051  202212  9994541142     외식    대구광역시      중구  5번이하       6  220000
8942404  202212  9998665444     외식     경상북도     경산시  5번이하       6  210000
8942545  202212  9999059681  의료/보험    대구광역시     수성구  5번이하       6  570000

[27681 rows x 8 columns]

In [40]:
new_cc_22_60_n[(new_cc_22_60_n['승인금액건수'] == 1)]

           거래년월        고객ID   가맹점업종명 가맹점_광역시도 가맹점_시군구  승인건수  승인금액건수  승인금액합계
1        202201  2785650267     음식료품    대구광역시     달성군  5번이하       1   40000
2        202201  2785650267      편의점     경상북도     구미시  5번이하       1   10000
3        202201  2787690742    의료/보험    부산광역시     사상구  5번이하       1  110000
4        202201  2787923110     대형마트     경상북도     구미시  5번이하       1   60000
5        202201  2788628587       기타    대구광역시      동구  5번이하       1  100000
...         ...         ...      ...      ...     ...   ...     ...     ...
8942689  202212  9999868994    의료/보험    대구광역시     달서구  5번이하       1   30000
8942690  202212  9999887084       기타    대구광역시      남구  5번이하       1   80000
8942691  202212  9999918728     대형마트    대구광역시      북구  5번이하       1   40000
8942692  202212  9999933174    의료/보험      경기도     평택시  5번이하       1   20000
8942693  202212  9999933174  카페/베이커리      경기도     평택시  5번이하       1   30000

[7014836 rows x 8 columns]

In [ ]:
# 고객ID별 데이터 개수를 세기
customer_counts = new_cc_22_60_n['고객ID'].value_counts()

# 개수가 1인 고객ID 목록 추출
single_purchase_customers = customer_counts[customer_counts == 1].index

# 고객ID가 한번만 있는 사람들의 데이터만 필터링
single_purchase_df = new_cc_22_60_n[new_cc_22_60_n['고객ID'].isin(single_purchase_customers)]

print(single_purchase_df)

In [42]:
customer_counts = new_cc_22_60_n['고객ID'].value_counts()
customer_counts

고객ID
9418579799    838
8894024350    761
8292833634    699
9126157554    699
7136586760    659
             ...
9911934445      1
9888098890      1
9887302320      1
9960116609      1
9957014299      1
Name: count, Length: 186437, dtype: int64

In [64]:
single_purchase_customers = customer_counts[customer_counts == 1]
single_purchase_customers

고객ID
2793592390    1
2795720652    1
9970920461    1
9971778770    1
9949744450    1
             ..
9911934445    1
9888098890    1
9887302320    1
9960116609    1
9957014299    1
Name: count, Length: 9702, dtype: int64

In [65]:
single_purchase_customers = customer_counts[customer_counts == 1].index
single_purchase_customers

Index([2793592390, 2795720652, 9970920461, 9971778770, 9949744450, 9956236661,
       9919064316, 9918608427, 9918580756, 9916808912,
       ...
       9867162637, 9831905622, 5559227595, 9993434996, 9993250687, 9911934445,
       9888098890, 9887302320, 9960116609, 9957014299],
      dtype='int64', name='고객ID', length=9702)

In [44]:
# 고객ID가 한번만 있는 사람들의 데이터만 필터링
single_purchase_df = new_cc_22_60_n[new_cc_22_60_n['고객ID'].isin(single_purchase_customers)]

print(single_purchase_df)

           거래년월        고객ID 가맹점업종명 가맹점_광역시도 가맹점_시군구  승인건수  승인금액건수   승인금액합계
19       202201  2790761888  의료/보험     경상북도     구미시  5번이하       1   410000
27       202201  2793592390  의료/보험     경상북도     구미시  5번이하       1   540000
28       202201  2795720652   대형마트     경상북도     경산시  5번이하       1    40000
153      202201  2814243168     기타    대구광역시      서구  5번이하       1   140000
299      202201  2824069545     기타    대전광역시      중구  5번이하       1  5000000
...         ...         ...    ...      ...     ...   ...     ...      ...
8939424  202212  9987545262     기타    서울특별시      중구  5번이하       1    20000
8940238  202212  9989660271     기타    대구광역시     달서구  5번이하       1   150000
8941416  202212  9992524642  여행/교통     경상북도     청송군  5번이하       1   140000
8941688  202212  9993250687   간편결제    서울특별시     강남구  5번이하       1    20000
8941756  202212  9993434996     기타    대구광역시      서구  5번이하       1   150000

[9702 rows x 8 columns]

In [46]:
cc_22_40.head()

         고객ID    거래년월  가맹점업종명 가맹점_광역시도  가맹점_시군구  승인건수    승인금액
0  9997364303  202212  이동통신요금    서울특별시       중구  5번이하   70000
1  9997364303  202212      외식     경상북도      영천시  5번이하  120000
2  9997364303  202212   온라인쇼핑      경기도  성남시 분당구  5번이하   80000
3  9997364303  202212   의료/보험     경상북도      영천시  5번이하   10000
4  9997364303  202212      외식     경상북도      영천시  5번이하   30000

In [48]:
new_cc_22_40 = cc_22_40.groupby(['거래년월', '고객ID', '가맹점업종명', '가맹점_광역시도', '가맹점_시군구', '승인건수'])['승인금액'].agg(승인금액건수 = 'count', 승인금액합계 = 'sum').reset_index()
new_cc_22_40.head()

     거래년월        고객ID 가맹점업종명 가맹점_광역시도   가맹점_시군구  승인건수  승인금액건수  승인금액합계
0  202201  2784022069   간편결제    서울특별시       구로구  5번이하       1   20000
1  202201  2784428759   간편결제    서울특별시        중구  5번이하       1   20000
2  202201  2784428759   대형마트    인천광역시      미추홀구  5번이하       2   80000
3  202201  2784428759  여행/교통    인천광역시       남동구  5번이하       1   30000
4  202201  2784428759     외식      경기도  고양시 일산동구  5번이하       2   80000

In [ ]:
# 고객ID별 데이터 개수를 세기
customer_counts = new_cc_22_60_n['고객ID'].value_counts()

# 개수가 1인 고객ID 목록 추출
single_purchase_customers = customer_counts[customer_counts == 1].index

# 고객ID가 한번만 있는 사람들의 데이터만 필터링
single_purchase_df = new_cc_22_60_n[new_cc_22_60_n['고객ID'].isin(single_purchase_customers)]

print(single_purchase_df)

In [66]:
# 고객ID별 데이터 개수를 세기
customer_counts_22_40 = new_cc_22_40['고객ID'].value_counts()
customer_counts_22_40

고객ID
6475277009    941
8573225691    882
6136426298    874
7093788257    784
7693539771    761
             ...
9434956259      1
9606024584      1
9563517393      1
9551953461      1
9544817692      1
Name: count, Length: 149705, dtype: int64

In [67]:
# 개수가 1인 고객ID 목록 추출
single_purchase_customers_22_40_1 = customer_counts_22_40[customer_counts_22_40 == 1].index
single_purchase_customers_22_40_1

Index([9727211463, 9729022006, 9730626575, 9504755549, 9513774467, 9526294599,
       9232977938, 6897787826, 6894141355, 6887166239,
       ...
       9478935979, 9356092914, 9342694400, 9452858028, 9438769614, 9434956259,
       9606024584, 9563517393, 9551953461, 9544817692],
      dtype='int64', name='고객ID', length=9382)

In [68]:
single_purchase_df_22_40_1 = cc_22_40[~cc_22_40['고객ID'].isin(single_purchase_customers_22_40_1)]
single_purchase_df_22_40_1.head()

         고객ID    거래년월  가맹점업종명 가맹점_광역시도  가맹점_시군구  승인건수    승인금액
0  9997364303  202212  이동통신요금    서울특별시       중구  5번이하   70000
1  9997364303  202212      외식     경상북도      영천시  5번이하  120000
2  9997364303  202212   온라인쇼핑      경기도  성남시 분당구  5번이하   80000
3  9997364303  202212   의료/보험     경상북도      영천시  5번이하   10000
4  9997364303  202212      외식     경상북도      영천시  5번이하   30000

In [69]:
temp_40 = single_purchase_df_22_40_1['고객ID'].value_counts()
temp_40

고객ID
6475277009    1726
8573225691    1516
7039485322    1458
6136426298    1451
9276349675    1446
              ...
7089782630       1
6910971389       1
6433851762       1
8926364234       1
4639820765       1
Name: count, Length: 140332, dtype: int64